{{#button}}
<button href="{{ url }}" class="c-btn {{ styleModifier }}" {{#dataElement}}data="{{ buttonText }}" {{/dataElement}}{{#if id }}id="{{ id }}" {{/ if }}>
{{^ dataElement }}{{ buttonText }}{{/ dataElement }}

{{#if buttonIcon }}
    <div class="c-btn__inner">
        {{ buttonTextIcon }}
    </div>
{{/ if }}
</button>
{{/button}}