<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ sylesheetSmall }}?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="{{ sylesheetMedium }}?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="{{ sylesheetLarge }}?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="{{ sylesheetXl }}?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <script src="{{ bootstrapCDN }}"></script>
    <script src="{{ jsFile }}" type="text/javascript"></script>
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  </head>
  <body>